.footer {
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  &__img {
    max-width: 100px;
  }

  &__txt {
    margin: auto;
    @include fontSize(14px);
  }
}
